$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$dark-grey: #353535;
$medium-grey: #eaeaea;
$light-grey: #f6f6f6;

$background-color-footer: $dark-grey;
$background-color-research-bar: $medium-grey;
$background-color-header__headline: $light-grey;
$background-color-fonctionement__item: $light-grey;
$background-color-fonctionement__item--last: #f5edff;
$background-color-restaurant: $light-grey;

$color-research-bar: $dark-grey;
$color-headline-p: $dark-grey;
$color-fonctionement__item: #7e7e7e;

$gradient-button: linear-gradient(175deg, $color-secondary, $color-primary);
