.restaurant {
	display: grid;
	grid-template: auto repeat(4, 250px) / auto;
	gap: 20px;
	padding: 50px 20px;
	background-color: $background-color-restaurant;
	&__title {
		font-size: 1.5rem;
	}
	&__item {
		display: block;
		border-radius: 20px;
		overflow: hidden;
		background-color: white;
		box-shadow: 0 0 7px -3px rgb(44, 44, 44);
	}
	&__figure {
		height: 100%;
		img {
			height: calc(100% - 75px);
		}
	}
	&__figcaption {
		height: 75px;
		padding: 10px;
	}
}
