.hearts {
	font-size: 25px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	i {
		position: absolute;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
	}
	i:nth-child(2) {
		display: none;
		&::before {
			background: linear-gradient(45deg, #d579d5, #9356dc);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			-webkit-text-fill-color: transparent;
		}
	}
	&:hover {
		i:nth-child(2) {
			display: block;
			animation: fill-heart 0.3s;
		}
		i:nth-child(1) {
			animation: opacity-fade 0.3s;
			animation-fill-mode: forwards;
		}
	}
}
@keyframes fill-heart {
	from {
		transform: scale(0, 0) translateY(-125%);
	}
	to {
		transform: scale(1, 1) translateY(-50%);
	}
}

@keyframes opacity-fade {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
