form {
	background-color: $background-color-main-restaurant;
	padding: 0px 15px 70px 15px;
	.button {
		padding: 15px 55px;
	}
}

.label__title {
	font-size: 1.1rem;
	font-weight: bold;
}

.label__title,
.label__info,
.label__price {
	display: block;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	legend {
		padding-bottom: 6px;
		position: relative;
		margin-left: 5px;
		margin: 15px 0 0 5px;
		text-transform: uppercase;
		font-weight: normal;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 4px;
			width: 40px;
			background-color: #99e2d0;
			content: "";
		}
	}
}

input[type="radio"] {
	display: none;
	+ .label {
		display: flex;
		height: 70px;
		margin: 15px 0;
		background-color: white;
		box-shadow: 0 0 7px -3px rgb(44, 44, 44);
		border-radius: 15px;
		overflow: hidden;
		animation-duration: 0.5s;
		animation-name: fadein;
		animation-fill-mode: backwards;
		&:last-child {
			margin-bottom: 40px;
		}
		.label__legend {
			position: relative;
			width: 100%;
			padding: 10px;
		}
		.label__price {
			position: absolute;
			right: 10px;
			bottom: 10px;
			font-weight: bolder;
		}
		.label__info {
			position: absolute;
			bottom: 10px;
		}
		.label__check {
			display: flex;
			width: 60px;
			justify-content: center;
			align-items: center;
			margin-right: -60px;
			background-color: #99e2d0;
			color: white;
			animation-duration: 0.5s;
			animation-name: slide-reverse;
			i {
				font-size: 1.2rem;
				animation-name: rotate-icon-reverse;
				animation-duration: 0.5s;
			}
		}
	}
	&:checked {
		+ .label .label__check {
			margin-right: 0px;
			animation-duration: 0.5s;
			animation-name: slide;
			i {
				animation-name: rotate-icon;
				animation-duration: 0.5s;
				transform: rotate(0deg);
			}
		}
	}
}

@keyframes slide {
	from {
		margin-right: -60px;
	}
	to {
		margin-right: 0;
	}
}
@keyframes slide-reverse {
	from {
		margin-right: 0;
	}
	to {
		margin-right: -60px;
	}
}

@keyframes rotate-icon {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
@keyframes rotate-icon-reverse {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fadein {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.delay {
	&-1 {
		animation-delay: 0.15s;
	}
	&-2 {
		animation-delay: 0.3s;
	}
	&-3 {
		animation-delay: 0.45s;
	}
	&-4 {
		animation-delay: 0.6s;
	}
	&-5 {
		animation-delay: 0.75s;
	}
	&-6 {
		animation-delay: 0.9s;
	}
	&-7 {
		animation-delay: 1.05s;
	}
	&-8 {
		animation-delay: 1.2s;
	}
}
